# Copy this file to .env and add your local secrets.
# Do NOT commit the real .env file.

# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/minutemind_db
# SECRET_KEY=change-me
# ALGORITHM=HS256
# ACCESS_TOKEN_EXPIRE_MINUTES=60
# ZOHO_CLIENT_ID="1000.NVD10P0UELIYLP5RMTTSOUMJ7IAIAC"
# ZOHO_CLIENT_SECRET="c6b418caa6d8d5cf65a3e64e7e10dbde7d4aa8cd92"
# ZOHO_REFRESH_TOKEN="1000.e91b751edf3461bc93a8d2e67109bd9e.af10612072d4dcdd1f16168254f3d59e"
